$border: solid $color-grey-light-2 1px;

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62% -> 1rem =>  10px
}

body {
  background-color: $color-grey-light-1;
  font-family: $font-primary;
  color: $color-secondary;
  font-weight: 300;
  font-size: $font-size;
}

a {
  color: $color-secondary;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    color: $color-active;
  }
}

.errors {
  color: rgb(195, 30, 30);
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
  min-height: 1.9rem;
  display: inline-block;
}

