.link-btn {
  &:hover  {
    background-color: $color-primary;
    color: $color-active;
    cursor: pointer;
  }
}

.btn {
  border-radius: 10rem;
  border: 2px solid black;
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  
  &:hover{
    background-color: $color-grey-light-3;
    color: black;
  }
  &-medium {
    padding: 1.3rem 2.0rem;
  }
  &-big {
    background-color: $color-primary;
    padding: 1.8rem 7rem;
    border: none;
    font-size: 2rem;
  }
  &-upload:active{
    color: $color-primary;
    background-color: $color-secondary;
  }
  &-delete {
    font-size: inherit;
    width: 100%;
    border: 2px solid $color-active;
    background-color: $color-primary;
    color: $color-active;
    padding: 1.5rem 0;
    text-align: center;
    
    &:hover {
      border: 2px solid $color-error;
      color: $color-error;
      background-color: inherit;
    }
  }

}

.btn-inverse {
  background-color: $color-primary;
  &:hover {
    background-color: $color-active;
    color: $color-primary;
  }
}


.submit-btn {
  font-size: 1.6rem;
  background-color: $color-active;
  color: $color-primary;
  border: none;
  padding: 1.5rem 0;
  cursor: pointer;
  outline: none;
  
  &:hover{
    background-color: $color-active-2;
  }
}
// ONLY IN FIREFOX?
// ::file-selector-button {
//   color: $color-primary;
//   content: 'Select Photo';
//   display: inline-block;
//   background: $color-active;
//   border-radius: 10rem;
//   padding: 1.5rem 2rem;
//   border: none;
//   outline: none;
//   cursor: pointer;
//   font-weight: 600;
//   font-size: 1.6rem;
// }

.file-input {
  display: inline-block;
  color: transparent;
  outline: none;

  &::-webkit-file-upload-button  {
    visibility: hidden;
  }

  &::before {
    color: $color-primary;
    content: 'Select Photo';
    display: inline-block;
    background: $color-active;
    border-radius: 10rem;
    padding: 1.5rem 2rem;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.6rem;
  }
  &:hover::before {
    background-color: $color-active-2;
  }

  &:active::before {
    background: $color-active-3;
  }
}

.img-section-back-btn {
  color: $color-primary;
  border-radius: 50%;
  padding: 1rem;
  align-self: flex-start;
  justify-self: flex-start;
  font-size: 2.4rem;

  &:hover{
    color: $color-primary;
    background-color: $color-grey-dark-2;
  }
}



button:disabled {
  background-color: $color-grey-dark-1;
  &:hover{
    background-color: $color-grey-dark-1;
    color: white;
    cursor: default;
  }
}

