$color-primary: rgb(255, 255, 255);
$color-secondary-dark: rgb(246, 246, 246);

$color-secondary: rgb(38, 38, 38);
$color-secondary-dark: rgb(0, 0, 0);


$color-grey-light-1: rgb(249, 247, 246);
$color-grey-light-2: rgb(215, 215, 215);

$color-grey-dark-1: rgb(155, 155, 155);
$color-grey-dark-3: rgb(147, 147, 147);
$color-grey-dark-2: rgb(109, 109, 109);


$color-active: rgb(47, 154, 235);
