$color-primary: rgb(254, 254, 254);

$color-secondary: rgb(34, 34, 34);


$color-grey-light-1: rgb(247, 248, 250);
$color-grey-light-2: rgb(238, 239, 242);
$color-grey-light-3: rgb(215, 216, 219);
$color-grey-light-4: rgb(185, 193, 199);

$color-grey-dark-1: rgb(155, 155, 155);
$color-grey-dark-2: rgb(109, 109, 109);
$color-grey-dark-3: rgb(89, 89, 89);
$color-grey-dark-4: rgb(75, 75, 75);


$color-active: rgb(41, 108, 201);
$color-active-2: rgb(41, 144, 222);
$color-active-3: rgb(97, 179, 242);

$color-error: rgb(213, 53, 53);
