.comment{
  &-container {
    background-color: $color-primary;
    width: 30%;
    padding: 2rem;
  }
  &-list {
    margin-top: 2rem;
  }
  &-content {
    max-width: 70%;
     word-wrap: break-word;
  }
  &-content-item{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
    div{
      cursor: pointer;
      font-size: 1.4rem;
      &:hover{
        color: $color-error;
      }
    }
  }
  &-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
  }
  &-info-container {
    width: 100%;
    display: flex;
    align-items: center;
  }
  &-user-info {
    width: 90%;
  }
  &-date {
    font-size: 1.2rem;
    color: $color-grey-dark-2;
    align-self: center;
  }
  &-input-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-form {
    border: none;
    margin-bottom: 2rem;
    &-input{
      width: 85%;

      border: $border;
      border-radius: 5px;
      padding: 1.5rem;
      font-size: 1.6rem;
      svg {
        margin-right: 1rem;
        color: $color-grey-dark-3;
      }
    }
    input[type=text]{
      width: 85%;
      border: none;
      padding: 0;
      outline: none;
      margin: 0;
      box-sizing: border-box;   
    &:focus {
      border: none;
    }   
    }
  }
  &-btns{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:  center;
    justify-content: flex-end;
    margin-top: 1rem;
    & .btn.submit-btn{
      padding: 0.5rem 3.5rem;
    }

    div {
      padding: 0 1rem;
      display: inline;
      color: $color-active;
      font-weight: 700;
      cursor: pointer;
    }
  }

  &-zero {
    margin: 6rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    svg {
      color: black;
      font-size: 4.4rem;
    }
    font-size: 1.6rem;
  }

}


@media only screen and (max-width: 950px) {

  .comment-input-container {
    justify-content: space-around;
  }
}
