.btn {
  &-following, &-unfollow{
    font-size: 1.6rem;
    color: $color-grey-dark-2;
    border-color: $color-active;
    background-color: $color-primary;
    
    &:hover {
      border: 2px solid $color-error;
      color: $color-error;
      background-color: inherit;
    }
  }
  &-follow {
    font-size: 1.6rem;
    padding: 0.7rem 2.5rem;
    background-color: $color-active;
    border: none;
    color: $color-primary;

    &:hover{
      background-color: $color-active-2;
      color: $color-primary;
    }
  }

  &-follow, &-following, &-unfollow {
    width: 11rem;
  }
}

.link-btn {
  &-following {  
    color: $color-grey-dark-2;
  }

  &-follow {
    color: $color-active;
  } 

  &-unfollow {
    color: $color-active;
  } 

  &:hover {
    color: $color-active-2;
  }
}