.main-header {
  position: sticky;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  z-index: 11;

  background-color: $color-primary;
  font-size: 1.6rem;
  padding: 2rem 6rem;

  display: grid;
  grid-template-columns: repeat(8, minmax(min-content, 1fr));
  justify-items: center;
  align-items: center;

  &-link {
    font-weight: 100;

    &-icon {
      display: none;
    }
  }

  .logo {
    fill: black;
    cursor: pointer;
    height: 25px;
    margin-right: 3rem;

    &:hover {
      fill: $color-active
    }

    grid-column: 1 / span 1;
  }

  .btn-discover {
    &-icon {
      display: none;
    }

    grid-column: 2 / span 1;
  }

  #search-bar.bar {
    grid-column: 5 / span 2;
  }

  .btn-upload {
    width: 9rem;

    &-large {
      display: inline-block;
      margin-right: .3rem;
    }

    svg {
      margin-right: 8px;
    }

    grid-column: 8 / span 1;
    grid-row: 1 / 1;
  }

  .header-dropdown {
    grid-column: 7 / span 1;
  }

  .btn-home {
    display: none;
  }

  .profile-label {
    display: none;
  }

  .button-medium svg {
    margin-right: 0.5rem;
  }

  &-auth-btns {
    display: flex;
    flex: 0.05 0 auto;
    justify-content: space-evenly;
    align-items: center;
  }
}


// tablet screen
@media only screen and (max-width: 750px) {
  .main-header {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 5rem 5rem;
    padding: 2rem 4rem;
    justify-items: center;

    &-link {
      font-size: 1.2rem;
    }

    .profile-label {
      display: block;
      margin-top: 2px;
    }

    .btn-home {
      display: block;
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
    }

    &-link {
      &-icon {
        display: block;
        font-size: 3.1rem;
        color: $color-grey-dark-3;
        padding-top: 3px;
      }
    }

    .logo {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
    }

    .btn-discover {
      grid-column: 2 / span 1;
      grid-row: 2 / span 1;

      svg {
        margin-left: 8px;
      }
    }

    .btn-upload {
      grid-column: 3 / span 1;
      grid-row: 2 / span 1;
      border: none;
      width: auto;

      &-large {
        display: none;
      }

      &-label {
        font-size: 1.2rem;
        font-weight: 100;
      }

      svg {
        margin-left: 5px;
        margin-bottom: -2px;
      }
    }

    #search-bar.bar {
      grid-column: 2 / span 3;
      grid-row: 1 / span 1;
      justify-self: end;
    }

    .header-dropdown {
      grid-column: 4 / span 1;
      grid-row: 2 / span 1;

      div {
        background-color: $color-grey-dark-3;
      }
    }

    &-auth-btns {
      grid-column: 3 / span 2;
      justify-self: end;

      a {
        margin-right: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .main-header {
    padding: 1rem 1rem;
  }
}