header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 2.5rem 6rem;
  border-bottom: 1px solid $color-grey-light-2;

  .logo {
    fill: rgb(14, 14, 14);
    cursor: pointer;
    height: 25px;
  }

  .logo:hover{
    fill: $color-active
  }
}




