.post-index {
  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  margin: 1rem 0;

  .post-container {
    display: block;
    width: 90%;
  }
  
  ul.post-gallery {
    display: flex;
    flex-wrap: wrap;
  }

  .search-info {
    margin: 1rem 0;
    font-size: 1.4rem;
    color: $color-grey-dark-3;
    text-transform: capitalize;
    align-self: flex-start;
  }
}

