.form-container {
  position: relative;

  display: flex;
  justify-content: space-between;

  padding: 3rem 6rem;
}

.post-form {
  width: 40rem;

  .inputs {
    padding: 2.5rem;
    input, textarea {
      width: 90%;
    }
  }

  .submit-btn {
    width: 33%;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 100%;
    box-sizing: border-box;
    border-top: $border;
    padding: 1rem;

    a {
      color: $color-active;
      margin-right: 2rem;

      &:hover {
        color: $color-active-2;
      }
    }
  }
}


