.index-item {
  margin-right: 1rem;
  margin-top: 1rem;
  position: relative;
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 20rem;
  height: 30rem;

  &.item-small {
    flex-grow: 0;
  }
  
  &-image-link {
    img {
      height: 30rem;
      min-width: 100%;
      object-fit: cover;
    }
  }

  &-heading {
    box-sizing: border-box;
    position: absolute;

    padding: 1rem;
    width: 100%;
    
    transition: all ease-out 0.2s;
    left: 0;
    opacity: 0;


    color: white;
    background: rgb(0,0,0);
  }
  &-loading {
    box-sizing: border-box;
    height: 99%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $color-grey-dark-1;

    
    animation: loading-animation 1s ease infinite;
  }

  @keyframes loading-animation {
    from {
      width: 5rem;
    }
    to {
      width: 100%;
      opacity: 0%;
    }
  }

  &:hover > &-top {
    opacity: 100;
    top: 0;
  }

  &:hover > &-bottom {
    opacity: 100;
    bottom: 0.3rem;
  }

  &-top {
    top: -0.3rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.30) 18%, rgba(0,0,0,0.20) 50%, rgba(255,255,255,0) 100%);
  }

  &-bottom {
    bottom: -0.3rem;
    background: linear-gradient(0deg, rgba(0,0,0,0.30) 18%, rgba(0,0,0,0.20) 50%, rgba(255,255,255,0) 100%);
  }
  
}
