.post-index {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 6.5rem;
  ul.post-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

