.post-index-item {
  background-color: $color-grey-light-2;
  margin-right: 1rem;
  margin-top: 1rem;

  &:last-child{
    margin-right: 0;
  }

  a img {
    height: 100%;
  }

  a {
    position: relative;
    display: inline-block;
    height: 30rem;
  }

  .img-info {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all ease-in 0.5s;
    opacity: 0;

    &:hover {
      opacity: 100%;
    }
    font-weight: 400;


    h2 {
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;

      padding: 1rem;
      color: white;
      width: 100%;
      
      background: rgb(0,0,0);
      background: linear-gradient(180deg, rgba(0,0,0,0.5480567226890756) 18%, rgba(0,0,0,0.2511379551820728) 50%, rgba(255,255,255,0) 100%);
    }

    p {
      box-sizing: border-box;
      position: absolute;
      left: 0;
      bottom: 0;

      padding: 1rem;
      width: 100%;

      color: white;
      background: rgb(0,0,0);
      background: linear-gradient(0deg, rgba(0,0,0,0.5480567226890756) 18%, rgba(0,0,0,0.2511379551820728) 50%, rgba(255,255,255,0) 100%);
    }
    
  }


}
