.post-index{
  // display: grid;
  // grid-template-columns: repeat(4, minmax(1rem, 1fr));
  // grid-auto-rows: 20vw;
  // grid-gap: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 5rem

}
