.splash {
  &-hero {
    width: 100vw;
    height: 70vh;
    position: relative;

    &-copy {
      position: absolute;
      top: 30%;
      left: 8%;
      font-size: 1.5rem;
      width: 60rem;
    }

    p {
      margin-bottom: 3rem;
      line-height: 1.5;
    }

    h1 {
      z-index: 1;
      font-size: 5rem;
      font-weight: 600;
      margin-bottom: 1.5rem;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .credits {
      color: $color-grey-dark-2;
      font-size: 1.2rem;
      display: flex;
      width: 25rem;

      position: absolute;
      bottom: -1rem;
      right: 1rem;

      p {
        height: 100%;
      }

      h3 {
        padding: 2px;
        margin-right: 0.5rem;
      }
    }
  }

  .features {
    margin: 8rem 0 15rem 0;

    h1 {
      font-weight: 600;
      font-size: 3.5rem;
      text-align: center;
      margin-bottom: 6rem;
    }

    .feature-items {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 0 2rem;
      line-height: 2rem;
    }

    .feature-item {
      padding: 1rem;
      max-width: 42rem;
      font-weight: 300;

      svg {
        font-size: 6rem;
        margin-bottom: 2rem;
      }

      h2 {
        font-size: 2.3rem;
        font-weight: 400;
        margin-bottom: 1.5rem;
      }
    }


  }

  .call-to-action {
    background-color: rgb(69, 69, 125);
    color: white;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 22rem;

    p {
      font-weight: 400;
      list-style: 2;
      width: 50%;
      text-align: center;
    }

    h1 {
      font-size: 3.2rem;
      font-weight: 700;
    }
  }
}

.custom-shape-divider-bottom-1623443712 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1623443712 svg {
  position: relative;
  display: block;
  width: calc(135% + 1.3px);
  height: 24rem;
}

.custom-shape-divider-bottom-1623443712 .shape-fill {
  fill: $color-grey-light-1;
}


@media only screen and (max-width: 750px) {
  .splash {
    &-hero {
      &-copy {
        width: 80%;
      }

      .credits {
        width: 17rem;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .splash-hero  {
    text-align: center;
  }
  .splash-hero-copy {
    width: 100%;
    left: 0;
  }

  .splash {
    .features {
      margin: 8rem 0 2rem 0;
      h1  {
        font-size: 2.8rem;
        margin-bottom: 3rem;
      }
      .feature-items {
        flex-direction: column;
      }
    }

    .credits {
      bottom: -5rem;
    }

    .call-to-action {
      padding: 2rem;

      h1 {
        font-size: 2.8rem;
        margin-bottom: 2rem;
      }

      p {
        margin-bottom: 2rem;
      }
    }

    .call-to-action p {
      width: 100%;
    }
  }

  .custom-shape-divider-bottom-1623443712 {
    display: none;
  }
}