.tag-suggestions{
  width: 100%;
  max-height: 20rem;
  overflow: scroll;
  border-radius: 5px;
box-shadow: 0px 12px 7px -11px rgba(100,100,100,0.5);
-webkit-box-shadow: 0px 12px 7px -11px rgba(100,100,100,0.5);
-moz-box-shadow: 0px 12px 7px -11px rgba(100,100,100,0.5);
}