.tag {
  &-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 3rem 0;
    &-item {
      font-size: 1.4rem;
      color: $color-secondary;
      padding: 0.8rem;
      border-radius: 5px;
      border: 1px $color-secondary solid;
      margin-right: 0.8rem;
      margin-bottom: 1.2rem;
      text-transform: capitalize;
      max-width: 25rem;

        &:hover {
          cursor: pointer;
        }

      &-icon {
        position: relative;
        margin-left: 1.5rem;
        svg {
          position: absolute;
          top: 1px;
          left: -9px;
          color: $color-secondary;
        }
      }
      &-show {
        &:hover {
          color: $color-active;
          border-color: $color-active;
          cursor: pointer;
        }
      }

      &-content {
        overflow: scroll;
      }
    }

  }
}