.image-upload {
  background-color: $color-grey-light-1;
  position: absolute;
  top: 0;
  left: 0;
  height: 94vh;
  width: 100vw;;
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.2rem;
    font-weight: 600;
    margin-top: 10rem;

    svg {
      font-size: 4rem;
      margin-bottom: 2.5rem;
    }

  .file-input::before {
    margin-top: 1rem;
    transform: translateX(45%);
    }
  }

  .upload-requirements {
    background-color: $color-grey-light-2;
    padding: 2rem;
    margin-top: 3rem;

    p {
      margin-bottom: 0.5rem;
    }

    h3 {
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
  }

} 
